ul {
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

img {
	width: 300px;
}

.shiba {
  border-radius: 5%;
}

.shiba-spot {
  width: 30%;
}

.top-nav {
  display: flex;
  flex-direction: column;
}

.links img {
  height: 200px;
  width: 200px;
  margin: 0 30px;
}
